body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

#holder {
    text-align: center;
    width: 70%;
    background-color: white;
    padding: 0;
    margin: 0;

}

.active-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 40px;
    grid-template-rows: 25px 1fr;
    list-style-type: none;
    background-color: aqua;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    
}

#display-area {
    margin: auto;
}

#list-area {
    display: flex;
    width: 30%;
    margin: auto;
}

#dlt-btn {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    margin: 5px;
    height: 20px;
    float: right;
}

#done-button {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 5px;
    height: 20px;
    float: right;
}

.active-list-item > h3 {
    grid-row: 2 / 2;
    grid-column: 1 / 5;
}

#list {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    flex-direction: column;
}

.completed {
    background: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 40px;
    grid-template-rows: 25px 1fr;
    list-style-type: none;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

.completed > h3 {
    grid-row: 2 / 2;
    grid-column: 1 / 5;
}